/Thinking_in_Java/src/io/*.out
/Thinking_in_Java/src/io/*.tmp
/Thinking_in_Java/src/io/*.dat
/Thinking_in_Java/src/io/*.txt
/Thinking_in_Java/src/io/*.zip
/Thinking_in_Java/src/io/*.gz
/Thinking_in_Java/src/io/*.file
/Thinking_in_Java/src/io/*.xml
/Thinking_in_Java/src/enumerated/*.txt